http://www.cs.cmu.edu/~ark/personas/

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.svm import LinearSVC
%config InlineBackend.figure_format = 'retina'

In [2]:
genres = pd.read_csv(
    'data/raw/movie.metadata.tsv',
    converters={'genres': lambda x: list(eval(x).values())},
    delimiter='\t',
    header=None,
    index_col='id',
    names=['id', 'genres'],
    usecols=[0, 8])

summaries = pd.read_csv(
    'data/raw/plot_summaries.txt',
    delimiter='\t',
    header=None,
    index_col='id',
    names=['id', 'summary'])

df = summaries.merge(genres, on='id').reset_index(drop=True)
mlb = MultiLabelBinarizer()
labels = pd.DataFrame(mlb.fit_transform(df.genres), columns=mlb.classes_)
df = pd.concat([df.summary, labels[labels.sum().nlargest(10).sort_index().index]], 1)

In [3]:
df.head()

,summary,Action,Black-and-white,Comedy,Crime Fiction,Drama,Horror,Indie,Romance Film,Thriller,World cinema
0,"Shlykov, a hard-working taxi driver and Lyosha...",0,0,0,0,1,0,0,0,0,1
1,The nation of Panem consists of a wealthy Capi...,1,0,0,0,1,0,0,0,0,0
2,Poovalli Induchoodan is sentenced for six yea...,1,0,0,0,1,0,0,0,0,0
3,"The Lemon Drop Kid , a New York City swindler,...",0,0,1,0,0,0,0,0,0,0
4,Seventh-day Adventist Church pastor Michael Ch...,0,0,0,1,1,0,0,0,0,1