http://www.cs.cmu.edu/~ark/personas/

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%config InlineBackend.figure_format = 'retina'

In [2]:
movies = pd.read_csv(
    'data/movie.metadata.tsv',
    delimiter='\t',
    header=None,
    index_col='id',
    names='id freebase_id name date revenue runtime languages countries genres'.split()
)
movies.head()

,freebase_id,name,date,revenue,runtime,languages,countries,genres
id,,,,,,,,
975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [3]:
plots = pd.read_csv(
    'data/plot_summaries.txt',
    delimiter='\t',
    header=None,
    index_col='id',
    names='id summary'.split())
plots.head()

                                                    summary
id
23890098  Shlykov, a hard-working taxi driver and Lyosha...
31186339  The nation of Panem consists of a wealthy Capi...
20663735  Poovalli Induchoodan  is sentenced for six yea...
2231378   The Lemon Drop Kid , a New York City swindler,...
595909    Seventh-day Adventist Church pastor Michael Ch...

In [4]:
df = (
    plots
    .merge(movies, on='id')
    .assign(
        year=lambda x: pd.to_datetime(x.date, errors='coerce').dt.year.astype('Int64'),
        genres=lambda x: x.genres.apply(lambda x: list(eval(x).values()))
    )['summary name year genres'.split()]
)
df.head()

,summary,name,year,genres
id,,,,
23890098,"Shlykov, a hard-working taxi driver and Lyosha...",Taxi Blues,1990,"[Drama, World cinema]"
31186339,The nation of Panem consists of a wealthy Capi...,The Hunger Games,2012,"[Action/Adventure, Science Fiction, Action, Dr..."
20663735,Poovalli Induchoodan is sentenced for six yea...,Narasimham,2000,"[Musical, Action, Drama, Bollywood]"
2231378,"The Lemon Drop Kid , a New York City swindler,...",The Lemon Drop Kid,1951,"[Screwball comedy, Comedy]"
595909,Seventh-day Adventist Church pastor Michael Ch...,A Cry in the Dark,1988,"[Crime Fiction, Drama, Docudrama, World cinema..."

In [5]:
pd.Series({'len(movies)': len(movies), 'len(plots)': len(plots), 'len(df)': len(df)})

len(movies)    81741
len(plots)     42303
len(df)        42204
dtype: int64