http://www.cs.cmu.edu/~ark/personas/

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%config InlineBackend.figure_format = 'retina'

In [2]:
genres = pd.read_csv('data/raw/movie.metadata.tsv',
                     delimiter='\t',
                     header=None,
                     index_col='id',
                     names=['id', 'genres'],
                     usecols=[0, 8])

summaries = pd.read_csv('data/raw/plot_summaries.txt',
                    delimiter='\t',
                    header=None,
                    index_col='id',
                    names=['id', 'summary'])

df = (summaries
      .merge(genres, on='id')
      .assign(genres=lambda x: x.genres.apply(lambda x: list(eval(x).values())))
      .reset_index(drop=True))
df

,summary,genres
0,"Shlykov, a hard-working taxi driver and Lyosha...","[Drama, World cinema]"
1,The nation of Panem consists of a wealthy Capi...,"[Action/Adventure, Science Fiction, Action, Dr..."
2,Poovalli Induchoodan is sentenced for six yea...,"[Musical, Action, Drama, Bollywood]"
3,"The Lemon Drop Kid , a New York City swindler,...","[Screwball comedy, Comedy]"
4,Seventh-day Adventist Church pastor Michael Ch...,"[Crime Fiction, Drama, Docudrama, World cinema..."
...,...,...
42199,"The story is about Reema , a young Muslim scho...",[Children's]
42200,"In 1928 Hollywood, director Leo Andreyev look...","[Silent film, Indie, Black-and-white, Period p..."
42201,American Luthier focuses on Randy Parsons’ tra...,"[Short Film, Music, Biographical film, Documen..."
42202,"Abdur Rehman Khan , a middle-aged dry fruit se...",[Drama]
42203,1940 - Operation Dynamo has just taken place. ...,[Comedy]